@{
    ViewBag.Title = "About";
}
<h2>Acerca de la pagina</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Informacion sobre la practica</h3>
    </div>
    <div class="panel-body">
        <p>
            Esta practica consiste en desarrollar una pagina que genere tablas de eventos y ciudades;
            cada tabla debe contener los variables necesarias para alvergar los datos y deben de ser los suficientes
            para complementar la informacion requerida, ademas de ello, personalizar un poco la pagina y sea presentable.
        </p>
    </div>
</div>
