@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<img src="~/Content/img/Mi foto.jpg" width="250" height="250">
<h3>Informacion</h3>

<address>
    <span class="glyphicon glyphicon-user"></span><strong>Nombre:</strong>
    <p>Chavez Lopez Eduardo Guillermo</p>
    <span class="glyphicon glyphicon-pencil"></span><strong>Carrera:</strong>
    <p>Ingenieria en Informatica</p>
    <span class="glyphicon glyphicon-calendar"></span><strong>Semestre:</strong>
    <p>6to</p>
    <span class="glyphicon glyphicon-asterisk"></span><strong>Numero de control:</strong>
    <p>17212334</p>
    <span class="glyphicon glyphicon-envelope"></span><strong>Correo Electronico:</strong> <a href="mailto:eduardo.chavez17@tectijuana.edu.mx">eduardo.chavez17@tectijuana.edu.mx</a><br />
    <br /><span class="glyphicon glyphicon-earphone"></span><strong>Numero de Telefono:</strong> 664-178-89-70
</address>

